<!-- #032141 -->
<div style="background: #323718; text-align: center; color: white; margin: 0px; padding: 0px; overflow-x: hidden;">

  <div class="contenedor" style="margin: 0px; padding: 0px;">
    <img class="imagen" [src]="imgesPortada[selectPortada]" alt="Portada" loading="eager" width="100%">
    <div class="texto" style="text-align: center; padding: 2vw; background-color: rgba(38, 36, 36, 0.4); border-radius: 2rem;">
      <!-- <strong class="letter" style="font-size: 40px;">Nuestra boda</strong><br> -->
      <strong class="letter" style="font-size: 25px;font-weight: bold; color: white">Raquel & Cristian</strong>
    </div>
  </div>
  <br>
  <div>
    <!-- <strong style="opacity: 100;">Nuestra canción</strong><br> -->
    <!-- <audio src="assets/audio/encontre_un_amor.mp3" controls="controls"  preload="none" style="height: 30px;"></audio> -->
  </div>
  <!-- <div class="text-center letter">
    <strong style="font-size: 40px; color: rgb(171, 71, 5);">Nuestra boda</strong>
     -->
    <!-- <br>
    <div class="text-center">
      <strong style="font-size: 30px; color: #f6734a;">2023</strong>
      <br>
      <strong style="font-size: 25px; color: #f6734a;">Domingo 10 Diciembre</strong>
    </div> -->
  <!-- </div>
  <br>
  <hr> -->
  <!-- <div>
    <img class="imgs"  src="assets/img/flores_nuestra_boda.png" alt="">
  </div> -->
  <div class="row">
    <div class="col-md-4" style="display: flex; align-items: center;">
      <img src="assets/img/flores_nuestra_boda.png" alt="" height="100%" loading="eager"
        width="100%">
    </div>
    <div class="col-md-8" style="display: flex; align-items: center;">
        <p style="font-size: 25px; padding-left: 20px; padding-right: 20px;" class="letter">
          "El amor no conoce límites, ni el tiempo ni la distancia. Si es sincero, perdurará para siempre"
          </p>
      </div>
  </div>
  <hr>
  <!-- <div class="text-center">
    <strong class="letter" style="font-size: 30px;">Nosotros</strong>
  </div>
  <br><br> -->
  <div class="row">
    <div class="col-md-4">
      <div>
        <img [src]="imgesVerticalUno[selectVerticalUno]" alt="Perfil A" loading="eager" style="height: 400px; width: 85%; border-radius: 3rem;">
      </div>
      <br>
      <div style="background-color: rgba(26, 24, 24, 0.4); padding-left: 20px; padding-right: 20px;">
        <strong style="font-size: 16; text-align: justify;" class="letter">Nos conocimos el año 2015, ambos cursábamos la carrera de Ingeniería de Sistemas y Enfermería, y un año después decidimos iniciar una nueva etapa como novios.</strong>
      </div>
      <br>
    </div>
    <div class="col-md-4">
      <!-- <div class="contenedor" style="border-radius: 3rem;">
        <img class="imgs" [src]="imgesVerticalDos[selectVerticalDos]" alt="Perfil B" loading="lazy">
      </div> -->
      <div>
        <img [src]="imgesVerticalDos[selectVerticalDos]" alt="Perfil B" loading="eager" style="height: 400px; width: 85%; border-radius: 3rem;">
      </div>
      <br>
      <div style="background-color: rgba(26, 24, 24, 0.4); padding-left: 20px; padding-right: 20px;">
        <strong style="font-size: 16; text-align: justify;" class="letter">Viajamos, trabajamos, crecimos profesionalmente y vivimos hermosas experiencias juntos, cada día que pasaba se afianzaba más nuestra relación.</strong>
      </div>
      <br>
    </div>
    <div class="col-md-4">
      <div>
        <img [src]="imgesVerticalTres[selectVerticalTres]" alt="Perfil C" loading="eager" style="height: 400px; width: 85%; border-radius: 3rem;">
      </div>
      <br>
      <div style="background-color: rgba(26, 24, 24, 0.4); padding-left: 20px; padding-right: 20px;">
        <strong style="font-size: 16;" class="letter">"Después de una hermosa relación de 7 años, lo imaginamos, lo planeamos y hemos decidido tomar la mejor decisión."</strong>
      </div>
      
    </div>
  </div>
  <br>
  <hr>
  <div class="text-center">
    <strong class="letter" style="font-size: 30px;">Con la bendición de nuestros padres</strong>
    <br><br>
    <!-- <br><br>
    <p class="text-center" style="font-size: 17px; font-style: italic">
      Con la bendición de Dios y la de nuestros nuestros padres.
    </p> -->
    <!-- <br><br> -->
    <div class="row letter" style="margin-left: 5px; margin-right: 5px;">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <!-- <img class="render"  style="object-fit: cover;" src="assets/img/novio_padres.png" alt="" height="90%"
        width="90%"> -->

        <div>
          <strong style="font-size: 20px; font-style: italic">Novio</strong>
        </div>
        <div>
          <p style="font-size: 18px;">
            Bonifacia Quilla Ticona <br>
            & <br>
            Jesús Leandro Huarcaya Huarcaya
          </p>

        </div>

        <!-- <div class="card" style="background: #2e3318; color: white; border-radius: 5rem;">
          <div class="card-header">
            <strong style="font-size: 20px; font-style: italic">Novio</strong>
          </div>
          <div class="card-body">
            <p style="font-size: 18px;">
              Bonifacia Quilla Ticona <br>
              & <br>
              Jesús Leandro Huarcaya Huarcaya
            </p>

          </div>
        </div>  -->
      <br>
      </div>
      <div class="col-md-4">
        <!-- <img  class="render" style="object-fit: cover;"  src="assets/img/novia_padres.png" alt="" height="90%"
        width="90%"> -->
        <div>
          <strong style="font-size: 20px; font-style: italic">Novia</strong>

        </div>
        <div>
          <p style="font-size: 18px;">
            Rusbith Tapullima Pezo <br>
            & <br>
            Ezequias Amasifuen Paima
          </p>
        </div>

        <!-- <div class="card" style="background: #36240a; color: white; border-radius: 5rem;">
          <div class="card-header">
            <strong style="font-size: 20px; font-style: italic">Novia</strong>

          </div>
          <div class="card-body">
            <p style="font-size: 18px;">
              Rusbith Tapullima Pezo <br>
              & <br>
              Ezequias Amasifuen Paima
            </p>
          </div>
        </div> -->
        <br>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <strong style="font-size: 22px;" class="letter">Ceremonia y Recepción</strong>
      <br>
      <hr>
      <p style="font-size: 16; padding-left: 20px; padding-right: 20px;" class="letter">
        <br>
        <br>
        Después de la ceremonia, los invitamos a unirse a nosotros en la recepción, donde la alegría y la celebración
        llenarán los momentos eternos de bellos recuerdos.
        <br><br>
        Su presencia dará brillo y calidez a nuestro día especial.
        <br><br>
        <!-- Fecha: Domingo 10 de Diciembre del 2023<br> -->
      </p>
      <strong style="font-size: 16; padding-left: 20px; padding-right: 20px;" class="letter">
        Lugar: Cerro Escalera, Tarapoto <br>
        Ver mapa: 
        <a  href="https://www.google.com/maps/dir/-11.9757152,-76.837499/mirador+escalera+hospedaje+tarapoto/@-10.0906406,-79.1534987,6.73z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x91ba09f075275997:0x60e2dd197c3cde2e!2m2!1d-76.3787312!2d-6.467605?hl=es&entry=ttu" target="_blank">Clic aquí</a>
      </strong>
    </div>
    <div class="col-md-4">
      <br><br>
      <!-- <div class="card">
          <div class="card-body"> -->
      <img style="border-radius: 3rem; padding-right: 15px" [src]="imgesLugar[selectedImg]" alt="Lugar" loading="eager" height="230" width="100%" >
      <!-- </div>
        </div> -->
    </div>
  </div>
  <br>
  <hr>
  <!-- <div class="text-center letter">
    <strong style="font-size: 20px;">FECHA</strong>
    <br>
    <div class="text-center">
      <strong style="font-size: 25px; color: #f6734a;">Domingo 10 Diciembre</strong>
      <br>
      <strong style="font-size: 30px; color: #f6734a;">2023</strong>
      <br>
      <strong style="font-size: 30px; color: #f6734a;">TARAPOTO</strong>
    </div>
  </div> -->
</div>
<!-- <audio id="audio" style="display: none;" src="assets/audio/encontre_un_amor.mp3"></audio> -->
<audio #audioPlayer style="display: none;">
  <source src="assets/audio/amarte_por_mi_anos.mp3" type="audio/mpeg">
</audio>
<!-- <button class="boton-flotante" style="padding: 10px;" > -->
<span class="boton-flotante mi-icono" (click)="toggleMusic()" style="cursor: pointer; font-size: 30px; color: white;"
  [class]="!isPlaying ? 'fa fa-play' : 'fa fa-pause'"></span>
<!-- </button> -->
